<!-- queryForm.html -->
<!-- Find Teammates (Query) Form -->
<div class="col-md-12">

    <!-- Creates Main Panel -->
    <div class="panel panel-default">

        <!-- Panel Title -->
        <div class="panel-heading">
            <h2 class="panel-title text-center">CONFIRMATION</h2>
        </div>

        <!-- Panel Body -->
        <div class="panel-body">
            <uib-alert type="{{alert}}">{{msg}}</uib-alert>
            <!-- Creates Form -->
        </div>

        <!-- Footer panel for displaying count. Note how it will only display if queryCount is greater than 0 -->
        <div class="panel-footer">
        </div>
    </div>
</div>
